.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .landing-title {
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
  }
  
  .w-100 {
    max-height: 500px !important;
  }

.mainjumbotron {
  height: 300px;
  background-image: url("./img/smash_banner_background.png");
  width: 100%;
}