.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.landing-title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.w-100 {
  max-height: 500px !important;
}

.title-container {
  text-align: center;
  padding-top: 160px;
  -webkit-text-stroke: 1px black;
  font-weight: bold !important;
  color: white;
}

.smash-title {
  font-size: 100px !important;
}

.mainjumbotron {
  background-image: url("./img/smash_banner_background.png");
<<<<<<< HEAD
  /* Set rules to fill background */
  max-height: 500px;
  min-height: 500px;
  min-width: 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background-size: cover;
=======
  font-size: 120px;
  width: 100%;
}

#opaque {
  background: rgba(0,0,0,.5);
  width: 100%
>>>>>>> master
}